@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <body style="background-color:aquamarine;">
         <h1 class="display-2">WELCOME</h1>
         <hr />
         <h2 class="display-4">CRUD Operation</h2>
         <hr style="height:2px; border-width:inherit; color:gray; background-color:gray;" />
         <h3 class="display-6">MVC Application using Entity Framework and LINQ</h3>
         <hr style="height:2px; border-width:inherit; color:gray; background-color:gray;" />

        <p><h5>To check the functionality of the application: </h5></p>
        <hr />
        <p><h6>Click on Admin then select Products then Do the CRUD Operation, Search or Sort the Product by Name, Brand, Price, Category, etc </h6></p>
        <hr style="height:2px; border-width:inherit; color:green; background-color:green;" />
    </body>
</div>
